*{
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}
.sone11{
    background-color: rgb(143, 205, 185);
    width: 50%;
}
.sone11 h1{
    font-size: 60px;
    padding: 80px 150px 20px 50px;
    font-weight: 500;
}
.sone11 p{
    font-size: 20px;
    padding: 20px 150px 20px 50px;
}
.sone11 button{
    height: 70px;
    width: 150px;
    font-size: 18px;
    margin: 50px 150px 120px 50px;
    background: black;
    color: white;
    border: none;
    border-radius: 40px;
}
.sone1{
    display: flex;
    padding: 0px 50px 100px 50px;
}
.stwo1{
    padding: 50px;
}
.stwo1 h1{
    font-size: 40px;
    font-weight: 500;
    padding-bottom: 30px;
}
.stwo11{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.stwo111{
    background-image: url("../images/clg2.webp");
    background-size: cover;
    background-color: rgb(21, 13, 13);
    height: 500px;
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    color: rgb(253, 252, 252);
    padding: 30px;
}
#twoimg{
    background-image:url("../images/clg3.webp") ;
}
#threeimg{
    background-image:url("../images/clg4.jpg") ;
}
.sthree1 h1{
    font-size: 40px;
    font-weight: 500;
    padding-bottom: 30px;
    padding-top: 50px;
}
.sthree11{
    display: flex;
    justify-content: space-between;
}
.sthree111{
    width: 350px;
}
.sthree111 h1{
    font-size: 80px;
}
.sthree111 hr{
    width: 350px;
    height: 1px;
    background-color: black;
}
.sthree111 p{
    padding-bottom: 20px;
}
.sthree1{
    padding: 50px;
}
.sfour11{
    background-color: rgb(205, 143, 196);
    width: 60%;
}
.sfour11 h1{
    font-size: 60px;
    padding: 80px 150px 20px 50px;
    font-weight: 500;
}
.sfour11 p{
    font-size: 20px;
    padding: 20px 150px 50px 50px;
}
.sfour11 h2{
    font-size: 80px;
    font-weight: 500;
    padding: 60px 50px 30px 50px;
}
.sfour11 hr{
    width: 450px;
    height: 1px;
    background-color: black;
    margin-left: 50px;
}
.sfour1{
    display: flex;
    padding: 60px 50px 100px 50px;
}
.sfour1 img{
    width: 500px;
}