
body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
    background: #515050;
}

.slider-container {
    width: 70%;
    max-width: 1200px;
    margin: 0 auto;
    text-align: center;
}

.slider-container h2 {
    margin-bottom: 20px;
}

.slider {
    display: flex;
    overflow-x: auto;
    scroll-behavior: smooth;
}

.slide {
    min-width: 300px;
    margin: 0 10px;
    padding: 20px;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.slide img {
    max-width: 100%;
    border-radius: 10px;
}

.slider-controls {
    margin: 20px 0;
}

.slider-controls button {
    background: #333;
    color: #fff;
    border: none;
    padding: 10px 20px;
    margin: 0 5px;
    cursor: pointer;
    border-radius: 5px;
}

.slider-controls button:hover {
    background: #555;
}

.slider-indicators {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.slider-indicators span {
    width: 10px;
    height: 10px;
    background: #ccc;
    border-radius: 50%;
    margin: 0 5px;
    cursor: pointer;
}

.slider-indicators .active {
    background: #333;
}
h2{
    font-size: 40px;
    color: rgb(51, 153, 92);
    font-weight: bold;
    font-style: underline;
}
h3{
    color:rgb(119, 190, 11);
    font-style: italic;
}
p{
    color: rgb(16, 171, 24);
    font-size: 30px;
    font-weight: bold;
}
button{
    background: greenyellow;
    border: none;
    padding: 12px 20px;
    border-radius: 6px;
    font-family: sans-serif;
    font-weight: bold;
}
u{
    color: #cedb70;
}

