*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
.container{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: antiquewhite;
}
.container1{
    text-align: center;
    background-color: rgb(236, 234, 232);
    padding: 100px;
}
.pagination{
    display: flex;
    align-items: center;
    padding: 10px 40px;
    border-radius: 6px;
}
ul{
    margin: 20px 30px;
}
ul li{
    display: inline-block;
    margin: 0 10px;
    width: 45px;
    height: 45px;
    background: #ccc;
    border-radius: 50%;
    font-size: 22px;
    font-weight: 500;
    text-align: center;
    line-height: 45px;
    cursor: pointer;
}
ul li.active{
    color: #fff;
    background-color: rgba(35, 22, 177, 0.9);
}
.btn1,.btn2{
    display: inline-flex;
    background-color: transparent;
    font-size: 22px;
    color: #383838;
    font-weight: 500;
    width: 100px;
    align-items: center;
    padding-left: 20px;
    line-height: 45px;
    cursor: pointer;
}