body{
    margin-top: 200px;  
    background: #6078a9;
  }
  div {
      justify-content: center;
      height: 90px;
      width: 390px;
      display: flex;
      flex-direction: row;
      align-items: center;
      background-size: 80px;
      background-color: #CADCFC;
      border-radius:0px 0px;
      margin-left: 450px;
  }
  div .status {
      width: 80px;
      height: 70px;
      background-repeat: no-repeat;
      overflow: hidden;
      background-image:url("/images/wifi-off.jpg");
      background-color: none;
      border-radius: 50%; /* Corrected from border: 50%; */
      margin-left: 10px; /* Added margin for better spacing */
  }
  div .status.online {
      height: 80px;
      width: 150px;
      background-repeat: no-repeat;
      background-size:50px;
      background-position: center;
      background-image: url("/images/wifi.jpg"); 
      border-radius: 50%;
  }
  div .on{
    background-color: #00246B;
    color: #e0dbdb;
    padding: 10px;
    border-radius: 40px;
  }
  